* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

@keyframes navAnimation {
  from {
    transform: (0px);
  }

  to {
    transform: translateY(-3px);
  }
}

@keyframes shrink {
  0% {
    transform: translateY(3px);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(4px);
  }
}

.fade-inn {
  animation: slideFadeIn 0.7s ease-in forwards;
  opacity: 1;
}

@keyframes slideFadeIn {
  0% {
    transform: translateY(100px);
  }
  33% {
    transform: translateY(-5px); /* Adjust the hop height as needed */
  }
  66% {
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.box-shadow {
  margin: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background-color: #FBF7F4;
  padding: 10px;
  border-radius: 3px;
  height: 90vh;
}

body {
  background-image: url('/radiant-gradient.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  margin-right: 10px;
}

nav {
  padding: 10px;
  background-color: #FBF7F4;
  border-bottom: solid;
  border-color: lightgray;
}

a.navbar-brand {
  padding-left: 20px;
  color: black;
}

.nav-item {
  padding-right: 20px;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.nav-item:hover {
  animation-name: navAnimation;
  animation-duration: 0.2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.nav-item a {
  color: black;
}

.home {
  background-color: #FBF7F4;
}

.home-content {
  background-color: #FBF7F4;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.headshot {
  background-color: lightgray;
  width: 300px;
  height: 300px;
  margin: 100px;
  box-shadow: 15px 15px 12px rgb(77, 73, 73);
  border-radius: 3px;
}

.headshot-div {
  justify-content: center;
  align-items: center;
}

#greeting {
  font-size: larger;
  margin: 3px;
}

#title {
  color: gray;
  font-size: 1.5em;
}

#hire-me {
  margin-top: 10px;
}

#name-intro {
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-div {
  background-color: #FBF7F4;
  margin-left: 90px;
}

.home-div p {
  margin: 0px;
}

.footer-main {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.about {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 80vh;
}

.icon-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.icon-description {
  border-left: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: lightgray;
}

.about-icon {
  height: 60px;
  width: 60px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.icon-grid a {
  text-decoration: none;
}

.about-icon:hover {
  animation: shrink;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.about-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 3px;
  margin: 3vh 10vw 3vh 3vw;
}

.about-info h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.about-info li {
  padding: 0px 15px 0px 15px;
  list-style: circle;
}

.about-info p {
  padding: 0px 15px 0px 15px;
}

.nav-link.selected {
  text-decoration: underline;
}

.about-main {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 75vh;
}

.project-main {
  height: 77vh;
  padding: 2vh 0vh 0vh 0vh;
}

.project-showcase {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  height: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.project-div {
  height: 100%;
  border-radius: 5px;
  width: 300px;
  display: grid;
  grid-template-rows: 60% 40%;
  text-align: center;
  overflow-y: hidden;
}

.project-name {
  color: #000;
}

.project-desc {
  color: #000;
  text-decoration: none;
}

.project-link {
  text-decoration: none;
}

.project-link .project-info {
  opacity: 1;
  transform: translateY(155px); /* Initially hide and shift down */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add a smooth transition effect */
}

.project-link:hover .project-info {
  opacity: 1;
  transform: translateY(0); /* Show and shift up when the link is hovered */
}


.project-info {
  padding: 1vh 0.5vw 0vh 0.5vw;
  text-wrap: balance;
}

.inverted-4 {
  background:
    conic-gradient(from -45deg at 50% calc(5*100%/6),#e5e5e5 90deg, #cccccc  0) calc(0*100%/3) var(--_d, 100%),
    conic-gradient(from -45deg at 50% calc(5*100%/6),#cccccc 90deg, #e5e5e5 0) calc(0*100%/3) var(--_d, 100%),
    conic-gradient(from -45deg at 50% calc(4*100%/6),#e5e5e5 90deg, #cccccc  0) calc(1*100%/3) var(--_d, 100%),
    conic-gradient(from -45deg at 50% calc(4*100%/6),#cccccc 90deg, #e5e5e5 0) calc(1*100%/3) var(--_d, 100%),
    conic-gradient(from -45deg at 50% calc(3*100%/6),#e5e5e5 90deg, #cccccc  0) calc(2*100%/3) var(--_d, 100%),
    conic-gradient(from -45deg at 50% calc(3*100%/6),#cccccc 90deg, #e5e5e5 0) calc(2*100%/3) var(--_d, 100%),
    conic-gradient(from -45deg at 50% calc(2*100%/6),#e5e5e5 90deg, #cccccc  0) calc(3*100%/3) var(--_d, 100%),
    conic-gradient(from -45deg at 50% calc(2*100%/6),#cccccc 90deg, #e5e5e5 0) calc(3*100%/3) var(--_d, 100%);
  -webkit-background-clip: text, padding-box;
          background-clip: text, padding-box;
  background-size: calc(100%/4) 600%;
  background-repeat: no-repeat;
  transition: 1s linear;
}
.inverted-4:hover {
  --_d: 0%;
}

.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image {
  height: 100px;
  width: 100px;
}